page-secondary-password {
	.content-md, .content-ios{
		background: #fff;
	}
	.btn-dmk,{
	    padding: 10px;
	    background: #FF5722;
	    color: #fff;
	}
	.input_login{
        padding: 0;
	    color: #060606;
	    font-size: 14px;
	    font-weight: 400;
	    border-bottom: 1px solid red;
	    width: 80%;
	    margin: 0 auto;
	  }
	h3{
		color: #3F51B5;
		font-size: 20px;
		margin-top: 50%;
	}
	
}
