page-infomation {
	.content-md, .content-ios{
		background-color: #fff;
	}
	img{
		width: 80%;
		margin: 20px auto;
	}
	.border_price{
		border: 2px solid #eee;
		padding: 10px 5px;
		border-radius: 10px;
		font-size: 25px;
		margin-bottom: 20px;
	}
	h4{
	    color: #3F51B5;
	    font-size: 18px;
	    margin: 0px;
	}
}
